{{define "content"}}
<!-- Introduction -->
<h3 style="font-family: sans-serif; color: #000000;">
    Hello {{.Displayname}},
</h3>
<p style="font-family: sans-serif; color: #555555;">
    A password reset request was made for your account. 
    If you didn't initiate this, you can safely ignore this email. 
    To reset your password, click the button below.
</p>

<!-- Action -->
<a href="https://example.org/reset-password?token={{.Token}}" style="font-family: Arial, sans-serif; font-size: small; display: block; color: #f0f0f0; background-color: #2f2f2f; padding: 8px 0; width: 100%; text-decoration: none; text-align: center; cursor: pointer;">
    Reset Password
</a>
<div style="font-family: sans-serif; color: #b3b3b3; font-size: larger; text-align: center; padding-top: 12px;">
    ■ ■ ■
</div>

<!-- Fallback -->
<p style="font-family: sans-serif; font-size: small; color: #2f2f2f; text-align: center;">
    If the button above doesn't work please use the following URL instead:
</p>
<p href="https://example.org/reset-password?token={{.Token}}" style="font-family: sans-serif; font-size: small; color: #2f2f2f; text-align: center;">
    https://example.org/reset-password?token={{.Token}}
</p>
{{end}}